{% extends 'admin_base.html.twig' %}

{% block title %}Event modifier
{% endblock %}

{% block content_header %}
	<h1>
		Evenement
	</h1>
	<ol class="breadcrumb">
		<li>
			<a href="#">
				<i class="fa fa-dashboard"></i>
				Modifier</a>
		</li>
	</ol>
{% endblock %}

{% block body %}
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Modification de l'évenement</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			{{ include('event/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
		</div>
	</div>
{% endblock %}
{% block script %}
	<script>
		$( '.js-datepicker' ).datepicker( { format: 'yyyy-mm-dd', autoclose: true } )
	</script>
{% endblock %}
