{% extends 'admin_base.html.twig' %}

{% block title %}Event index
{% endblock %}

{% block content_header %}
	<h1>
		Evenement
	</h1>
	<ol class="breadcrumb">
		<li>
			<a href="#">
				<i class="fa fa-dashboard"></i>
				liste</a>
		</li>
		<li class="active">Here</li>
	</ol>
{% endblock %}


{% block body %}
	<div class="box" ng-controller="EventCtrl">
		<div class="box-header">
			<h3 class="box-title">Liste des évenements</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<table class="table table-bordered table-striped" id="eventTable">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nom</th>
						<th>Presentation</th>
						<th>Date</th>
						<th>Place</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<a href="{{ path('event_new') }}">Create new</a>
{% endblock %}

{% block script %}
	<script src="{{asset('assets/angular/angular.min.js')}}"></script>
	<script src="{{asset('assets/angular/app.js')}}"></script>
	<script src="{{asset('assets/angular/controller/eventCtrl.js')}}"></script>
{% endblock %}