<hgroup class="mb20">
	<h1>Resultats de la recherche</h1>
</hgroup>

<section class="col-xs-12 col-sm-6 col-md-12">
	{% if hotel|length > 0 or restaurant|length > 0 or event|length > 0 or recette|length > 0 %}
		{% for h in hotel %}
			<article class="search-result row">
				<div class="col-xs-12 col-sm-12 col-md-3">
					<a href="#" title="Lorem ipsum" class="thumbnail"><img src='https://image.shutterstock.com/image-photo/image-girl-tablet-her-hands-600w-552755020.jpg' alt="Lorem ipsum"/></a>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-9 excerpet">
					<h3>
						<a href="{{path('search_view',{type:'hotel',id:h.id})}}" title="">{{h.nom}}</a>
					</h3>
					<p>{{h.description[0:100]}}...</p>
				</div>
				<span class="clearfix borda"></span>
			</article>
		{% endfor %}
	{% endif %}
</section>
