{% extends 'admin_base.html.twig' %}

{% block title %}Recette modifier
{% endblock %}

{% block content_header %}
	<h1>
		Recette
	</h1>
	<ol class="breadcrumb">
		<li>
			<a href="#">
				<i class="fa fa-dashboard"></i>
				Modifier</a>
		</li>
	</ol>
{% endblock %}

{% block body %}
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Modification d'un recette</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			{{ include('recette/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
		</div>
	</div>
{% endblock %}
