{% extends 'admin_base.html.twig' %}

{% block title %}Restaurant creer
{% endblock %}

{% block content_header %}
	<h1>
		Restaurant
	</h1>
	<ol class="breadcrumb">
		<li>
			<a href="#">
				<i class="fa fa-dashboard"></i>
				Creer</a>
		</li>
	</ol>
{% endblock %}

{% block body %}
	<div class="box">
		<div class="box-header">
			<h3 class="box-title">Création d'un évenement</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
            {{ include('restaurant/_form.html.twig' , {'button_label': 'Creer'}) }}
		</div>
	</div>
{% endblock %}
